<div class="show-case-box">
    <div class="show-case input-show-case">
        <input-number [(ngModel)]="inputValue" [min]="0" [max]="10" [step]="0.01" [label]="'长度'" [unitLabel]="'mm'"
        (onChange)="inputValueChange($event)" (onChangeEnd)="inputChangeEnd($event)"></input-number>
        <input-number [(ngModel)]="disabledValue" [label]="'disabled'" disabled></input-number>
    </div>

    <div class="show-case">
        <input-range-combined [label]="'input-range-combined: name'" [min]="0" [max]="10" [step]="0.01" [(ngModel)]="inputRangeValue" [unitLabel]="'mm'" (onChange)="changeInputRange($event)" (onChangeEnd)="changeInputRangeEnd($event)"></input-range-combined>
        <input-range-combined [label]="'disabled'" [(ngModel)]="disabledValue" disabled></input-range-combined>
    </div>
</div>
